<!DOCTYPE html>
<html lang="zxx" class="js">
    <head>
        <%- include ('_header') %>
    </head>
    <body class="nk-body bg-lighter npc-default pg-auth dark-mode">
        <div class="nk-app-root">
            <!-- main @s -->
            <div class="nk-main ">
                <%- include ('_header_nav') %>
                <!-- content @s -->
                <div class="nk-content ">
                    <div class="container-fluid">
                        <div class="nk-content-inner">
                            <div class="nk-content-body">
                                <div class="nk-block-head nk-block-head-sm">
                                    <div class="nk-block-head-sub">
                                        <a class="back-to" id='link_back' href="<%=helper.back_url%>" >
                                            <em class="icon ni ni-arrow-left"></em><span>Back</span>
                                        </a>
                                    </div>
                                    <div class="nk-block-between">
                                        <div class="nk-block-head-content">
                                            <h3 class="nk-block-title page-title"><%=helper.list_title%></h3>
                                            <div class="nk-block-des text-soft">
                                                <p>You have <%=helper.item_list.length%> items.</p>
                                            </div>
                                        </div><!-- .nk-block-head-content -->
                                        <div class="nk-block-head-content">
                                            <ul class="nk-block-tools g-3">
                                                <li class="nk-block-tools-opt">
                                                    <%if(helper.show_add){ %>
                                                    <button type="button" id='btn_item_photo_add' class="btn btn-lg btn-primary"><em class="icon ni ni-plus"></em></button>
                                                    <%} %>
                                                </li>
                                            </ul>
                                        </div><!-- .nk-block-head-content -->
                                    </div><!-- .nk-block-between -->
                                </div><!-- .nk-block-head -->
                                <!-- .nk-block -->
                                <div class="nk-block nk-block-lg">
                                    <table id='tbl_list' class="datatable-init nowrap nk-tb-list is-separate" data-auto-responsive="false">
                                        <thead>
                                            <tr class="nk-tb-item nk-tb-head">
                                                <th class="nk-tb-col"><span>Title</span></th>
                                                <th class="nk-tb-col"><span>Note</span></th>
                                                <th class="nk-tb-col"><span></span></th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <%for(a=0;a<helper.item_list.length;a++){ %>
                                            <tr class="nk-tb-item">
                                                <td class="nk-tb-col">
                                                    <div class='datable_th_title'>
                                                        <span><img   src="<%=helper.item_list[a].photo_obj.thumb_url %>" alt="" class="biz_list_thumb"></span>

                                                        <span class="title datatable_sp_items"><%=helper.item_list[a].title %></span>
                                                    </div>
                                                </td>
                                                <td class="nk-tb-col">
                                                    <span class="tb-sub"><%=helper.item_list[a].text %></span>
                                                </td>
                                                <td class="nk-tb-col">
                                                    <ul class="nk-tb-actions gx-1 my-n1">
                                                        <li class="mr-n1">
                                                            <div class="dropdown">
                                                                <a href="#" class="dropdown-toggle btn btn-icon btn-trigger" data-toggle="dropdown"><em class="icon ni ni-more-h"></em></a>
                                                                <div class="dropdown-menu dropdown-menu-right">
                                                                    <ul class="link-list-opt no-bdr">
                                                                        <li><a tbl_id='<%=helper.item_list[a].tbl_id%>' class='link_item_photo_edit' href="javascript:void(0);"><em class="icon ni ni-edit"></em><span>Edit</span></a></li>
                                                                        <li><a class='link_item_photo_delete' tbl_id='<%=helper.item_list[a].tbl_id%>'><em class="icon ni ni-trash"></em><span>Remove</span></a></li>
                                                                    </ul>
                                                                </div>
                                                            </div>
                                                        </li>
                                                    </ul>
                                                </td>
                                            </tr>
                                            <%}%>
                                        </tbody>
                                    </table>
                                </div>
                                <!-- .nk-block -->
                            </div>
                        </div>
                    </div>
                </div>
                <!-- content @e -->
                <!-- footer @s -->
                <div class="nk-footer">
                    <%- include ('_footer') %>
                </div>
                <!-- footer @e -->
            </div>
            <!-- wrap @e -->
        </div>
        <!-- main @e -->
        <!-- @@ Profile Edit Modal @e -->
        <div class="modal fade" tabindex="-1" role="dialog" id="modal_item_photo_edit">
            <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
                <div class="modal-content">
                    <a href="#" class="close" data-dismiss="modal"><em class="icon ni ni-cross-sm"></em></a>
                    <div class="modal-body modal-body-lg">
                        <h5 class="title" id='lbl_modal_item_photo_title'></h5>
                        <span id='sp_spinner'><img id='img_up_spinner' src='/images/spinner.gif'/></span>
                        <ul class="nk-nav nav nav-tabs">
                            <li class="nav-item">
                                <a class="nav-link active" data-toggle="tab" href="#primary"></a>
                            </li>
                        </ul><!-- .nav-tabs -->
                        <div class="tab-content" id='div_tab_content'>
                            <div class="tab-pane active" id="primary">
                                <div class="row gy-4">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <form  action='/cloud/file/update_photo' id='upload' method='POST' encType="multipart/form-data" >
                                                <label class="form-label" for="full-name">Upload</label>
                                                <input type="file" class="" name="singleFile" id="singleFile"><br/><br/>
                                                <input value="<%=helper.item.tbl_id%>" type="hidden"  id="tb_item_parent_tbl_id"/>
                                                <input value="<%=helper.item.data_type%>" type="hidden"  id="tb_item_parent_data_type"/>
                                                <input value="<%=helper.top.tbl_id%>" type="hidden"  id="tb_item_top_tbl_id"/>
                                                <input value="<%=helper.top.data_type%>" type="hidden"  id="tb_item_top_data_type"/>
                                                <input type="hidden"  id="tb_item_photo_photofilename"/>
                                                <input type="hidden"  id="tb_item_photo_tbl_id"/>
                                                <button type="submit" id='btn_item_photo_upload' class="btn btn-lg btn-primary">Upload</button>
                                                <span id='sp_photo'><img height='150px'width='150px' id='img_up_primary' src='/images/no_image.png'/></span>
                                            </form>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group" id='div_photo_text'>
                                            <label class="form-label" for="full-name">Note</label>
                                            <input  type="text" class="form-control form-control-lg" id="tb_item_photo_text" value="" placeholder="Enter text">
                                        </div>
                                    </div>
                                    <div  id='ul_save_btns' clss="col-12">
                                        <ul class="align-center flex-wrap flex-sm-nowrap gx-4 gy-2">
                                            <li>
                                                <a href="javascript:void(0);"id='btn_item_photo_submit' class="btn btn-lg btn-primary">Save</a>
                                            </li>
                                            <li>
                                                <a href="#" data-dismiss="modal" class="link link-light">Cancel</a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <!-- .tab-pane -->
                        </div><!-- .tab-content -->
                    </div><!-- .modal-body -->
                </div><!-- .modal-content -->
            </div><!-- .modal-dialog -->
        </div><!-- .modal -->

        <div class="modal-footer bg-light">
            <span class="sub-text"><!--text--!></span>
            </div>
            </div>
            </div>
            </div>
            <!-- app-root @e -->
            <%- include ('_footer_file') %>
            <!-- JavaScript -->
            <script>
                $(document).ready(function() {
                    show_tabs();
                    parent_tbl_id = $('#tb_item_parent_tbl_id').val();
                    function show_tabs(){
                        $('#div_tab_content').show();
                        //$('#ul_nav_list').show();
                        $('#upload').show();
                        $('#sp_spinner').hide();
                        $('#btn_item_photo_upload').hide();
                        $('#btn_item_photo_submit').hide();
                        $('#sp_photo').show();
                    }
                    function hide_tabs(){
                        $('#sp_spinner').show();
                        $('#btn_item_photo_upload').hide();
                        $('#btn_item_photo_submit').hide();
                        $('#div_tab_content').hide();
                        //$('#ul_nav_list').hide();
                        $('#sp_photo').hide();
                        $('#btn_item_edit_photo_submit').hide();
                        $('#upload').hide();
                    }
                    $('#btn_item_photo_add').click(function(){
                        $('#sp_photo').hide();
                        $('#tb_item_photo_tbl_id').val('0');
                        $('#tb_item_photo_text').val('')
                        $('#lbl_modal_item_photo_title').html('Add');
                        $('#modal_item_photo_edit').modal('show');
                        $('#div_photo_text').hide();
                    });
                    $('#tb_item_photo_text').change(function(){
                        $('#btn_item_photo_submit').show();
                    });

                    //9_submit
                    $('#btn_item_photo_submit').click(function(){
                        hide_tabs();
                        tbl_id = $('#tb_item_photo_tbl_id').val();
                        if(!tbl_id){
                            tbl_id=0;
                        }
                        photofilename = $('#tb_item_photo_photofilename').val();
                        text = $('#tb_item_photo_text').val();
                        parent_tbl_id=$('#tb_item_parent_tbl_id').val();
                        parent_data_type=$('#tb_item_parent_data_type').val();
                        top_tbl_id=$('#tb_item_top_tbl_id').val();
                        top_data_type=$('#tb_item_top_data_type').val();
                        $.ajax({
                            type: "POST",
                            url: "/cloud/crud/update/<%=helper.photo_obj.data_type%>/"+tbl_id,
                            enctype: 'multipart/form-data',
                            data: {photofilename:photofilename,parent_tbl_id:parent_tbl_id,top_tbl_id:top_tbl_id,top_data_type:top_data_type,parent_data_type:parent_data_type,text:text},
                            success: function(data){
                                window.location.reload();
                            }
                        });
                    });
                    $('#singleFile').change(function(){
                        $('#btn_item_photo_upload').show();
                        $('#sp_photo').hide();
                        $('#btn_item_photo_submit').hide();
                        $('#div_photo_text').hide();
                    });
                    $('#upload').submit(function(){
                        hide_tabs();
                        $.ajax({
                            type: 'POST',
                            url: $('#upload').attr('action'),
                            data: new FormData( this ),
                            processData: false,
                            contentType: false,
                            success: function(data){
                                if(!data.helper.validation_message){
                                show_tabs();
                                $('#modal_item_photo_edit').modal('show');
                                $('#btn_item_photo_upload').hide();
                                $('#tb_item_photo_photofilename').val(data.helper.item.photofilename);
                                $('#img_up_primary').attr('src',data.helper.item.photo_obj.thumb_url);
                                $('#sp_photo').show();
                                $('#singleFile').show();
                                $('#btn_item_photo_submit').show();
                                $('#div_photo_text').show();
                                }else{
                                    alert(data.helper.validation_message);
                                }
                            },
                            error: function(data){
                                alert('UPLOAD ERROR');
                                console.log('UPLOAD ERROR');
                                console.log(data);
                            }
                        });
                        return false;
                    });
                    //9_edit
                    $("#tbl_list").on("click", ".link_item_photo_edit", function(){
                        $('#modal_item_photo_edit').modal('show');
                        hide_tabs();
                        tbl_id = $(this).attr('tbl_id');
                        $('#sp_photo').show();
                        $('#btn_item_photo_submit').hide();
                        $.ajax({
                            type: "GET",
                            url: "/cloud/crud/get/<%=helper.photo_obj.data_type%>/"+tbl_id,
                            enctype: 'multipart/form-data',
                            data: {},
                            success: function(data){
                                show_tabs();
                                $('#tb_item_photo_tbl_id').val(data.helper.item.tbl_id);
                                $('#tb_item_photo_photofilename').val(data.helper.item.photofilename);
                                $('#tb_item_photo_text').val(data.helper.item.text);
                                $('#img_up_primary').show();
                                $('#sp_photo').show();
                                $('#img_up_primary').attr('src',data.helper.item.photo_obj.thumb_url);
                                $('#div_photo_text').show();
                            }
                        });
                    });
                    $('.link_item_photo_delete').click(function(){
                        if (confirm("Are you sure?")) {
                            tbl_id = $(this).attr('tbl_id');
                            $.ajax({
                                type: "POST",
                                url: "/cloud/crud/delete/<%=helper.photo_obj.data_type%>/"+tbl_id,
                                enctype: 'multipart/form-data',
                                data: {},
                                success: function(data){
                                    window.location.reload();
                                }
                            });
                        }
                    });
                });
            </script>

    </body>
</html>
