<!DOCTYPE html>
<html lang="zxx" class="js">
    <head>
        <%- include ('_header') %>
    </head>
    <body class="nk-body bg-lighter npc-default pg-auth dark-mode">
        <div class="nk-app-root">
            <!-- main @s -->
            <div class="nk-main ">
                <%- include ('_header_nav') %>
                <!-- content @s -->
                <div class="nk-content">
                    <div class="container-fluid">
                        <div class="nk-content-inner">
                            <div class="nk-content-body">
                                <div class="nk-block-head nk-block-head-sm">
                                    <div class="nk-block-head-sub">
                                        <a class="back-to" href="<%=helper.back_url%>">
                                            <em class="icon ni ni-arrow-left"></em><span>Back</span>
                                        </a>
                                    </div>
                                    <div class="nk-block-between">
                                        <div class="nk-block-head-content">
                                            <h3 class="nk-block-title page-title"  id='h_item_edit_title'>Business</h3>
                                            <div class="nk-block-des text-soft">
                                                <p></p>
                                            </div>
                                        </div><!-- .nk-block-head-content -->
                                    </div><!-- .nk-block-between -->
                                </div>
                                <!-- .nk-block-head -->
                                <!-- .nk-block -->
                                <div class="nk-block nk-block-lg">
                                    <div class="card card-preview">
                                        <div class="card-inner">
                                            <div class="preview-block">
                                                <ul id='ul_nav_list' class="nk-nav nav nav-tabs"  id='div_tab_content'>
                                                    <li class="nav-item">
                                                        <a class="nav-link active" data-toggle="tab" href="#tab_business">Primary</a>
                                                    </li>
                                                    <li class="nav-item">
                                                        <a class="nav-link" data-toggle="tab" href="#tab_social">Social</a>
                                                    </li>
                                                    <li class="nav-item">
                                                        <a class="nav-link" data-toggle="tab" href="#tab_billing">CashApp</a>
                                                    </li>
                                                    <li class="nav-item">
                                                        <a class="nav-link" data-toggle="tab" href="#tab_brevo">Brevo</a>
                                                    </li>
                                                    <li class="nav-item">
                                                        <a class="nav-link" data-toggle="tab" href="#tab_photo">Logo</a>
                                                    </li>
                                                    <li class="nav-item">
                                                        <a class="nav-link" data-toggle="tab" href="#tab_stripe">Stripe</a>
                                                    </li>
                                                </ul>
                                                <!-- .tab-content -->
                                                <div class="tab-content">
                                                    <!-- .tab-pane -->
                                                    <div class="tab-pane active" id="tab_business">
                                                        <div class="card-inner">
                                                            <form action="#">
                                                                <div class="form-group">
                                                                    <label class="form-label" for="tb_item_edit_title">Name</label>
                                                                    <div class="form-control-wrap">
                                                                        <input  type="text" class="form-control form-control-lg" id="tb_item_edit_business_name"  placeholder="">
                                                                        <input  type="hidden" class="form-control form-control-lg" id="tb_item_tbl_id" value="<%=helper.item.tbl_id%>">
                                                                        <input  type="hidden" class="form-control form-control-lg" id="tb_item_data_type" value="<%=helper.item.data_type%>">
                                                                        <input  type="hidden" class="form-control form-control-lg" id="tb_item_photofilename" value="<%=helper.item.tbl_id%>">

                                                                    </div>
                                                                </div>
                                                                <div class="form-group">
                                                                    <label class="form-label" for="tb_item_edit_title">Email</label>
                                                                    <div class="form-control-wrap">
                                                                        <input  type="text" class="form-control form-control-lg" id="tb_item_edit_business_email" placeholder="">
                                                                    </div>
                                                                </div>
                                                                <div class="form-group">
                                                                    <label class="form-label" for="tb_item_edit_title">Phone</label>
                                                                    <div class="form-control-wrap">
                                                                        <input  type="text" class="form-control form-control-lg" id="tb_item_edit_business_phone" placeholder=""> </div>
                                                                </div>
                                                                <div class="form-group">
                                                                    <label class="form-label" for="tb_item_edit_title">Country</label><br/>
                                                                    <div class="form-control-wrap">
                                                                        <%- include ('_country_list') %>
                                                                    </div>
                                                                </div>
                                                                <div class="form-group">
                                                                    <label class="form-label" for="tb_item_edit_title">Address 1</label>
                                                                    <div class="form-control-wrap">
                                                                        <input  type="text" class="form-control form-control-lg" id="tb_item_edit_business_address1" placeholder=""> </div>
                                                                </div>

                                                                <div class="form-group">
                                                                    <label class="form-label" for="tb_item_edit_title">Address 2</label>
                                                                    <div class="form-control-wrap">
                                                                        <input  type="text" class="form-control form-control-lg" id="tb_item_edit_business_address2" placeholder=""> </div>
                                                                </div>
                                                                <div class="form-group">
                                                                    <label class="form-label" for="tb_item_edit_title">City</label>
                                                                    <div class="form-control-wrap">
                                                                        <input  type="text" class="form-control form-control-lg" id="tb_item_edit_business_city"  placeholder=""> </div>
                                                                </div>
                                                                <div class="form-group">
                                                                    <label class="form-label" for="tb_item_edit_title">State</label><br/>
                                                                    <div class="form-control-wrap">
                                                                        <%- include ('_state_list') %>
                                                                    </div>
                                                                </div>
                                                                <div class="form-group">
                                                                    <label class="form-label" for="tb_item_edit_title">Zip</label>
                                                                    <div class="form-control-wrap">
                                                                        <input  type="text" class="form-control form-control-lg" id="tb_item_edit_business_zip"  placeholder=""> </div>
                                                                </div>
                                                            </form>
                                                        </div>
                                                    </div>
                                                    <!-- .tab-pane -->
                                                    <!-- .tab-pane -->
                                                    <div class="tab-pane" id="tab_social">
                                                        <div class="card-inner">
                                                            <form action="#">
                                                                <div class="form-group">
                                                                    <label class="form-label" for="tb_item_stock">Website</label>
                                                                    <input  type="text" class="form-control form-control-lg" id="tb_item_edit_social_website"  placeholder="">
                                                                </div>
                                                                <div class="form-group">
                                                                    <label class="form-label" for="tb_item_edit_title">Facebook URL</label>
                                                                    <div class="form-control-wrap">
                                                                        <input  type="text" class="form-control form-control-lg" id="tb_item_edit_social_facebook"  placeholder="">
                                                                    </div>
                                                                </div>
                                                                <div class="form-group">
                                                                    <label class="form-label" for="tb_item_edit_category">Instagram UserName</label>
                                                                    <div class="form-control-wrap">
                                                                        <input class="form-control" id="tb_item_edit_social_instagram"   placeholder="">
                                                                    </div>
                                                                </div>
                                                                <div class="form-group">
                                                                    <label class="form-label" for="tb_item_stock">Twitter UserName</label>
                                                                    <input  type="text" class="form-control form-control-lg" id="tb_item_edit_social_twitter"  placeholder="">
                                                                </div>
                                                                <div class="form-group">
                                                                    <label class="form-label" for="tb_item_stock">Youtube URL</label>
                                                                    <input  type="text" class="form-control form-control-lg" id="tb_item_edit_social_youtube"  placeholder="">
                                                                </div>

                                                                <div class="form-group">
                                                                    <label class="form-label" for="tb_item_stock">Blog URL</label>
                                                                    <input  type="text" class="form-control form-control-lg" id="tb_item_edit_social_blog"  placeholder="">
                                                                </div>


                                                            </form>
                                                        </div>
                                                    </div>
                                                    <!-- .tab-pane -->
                                                    <!-- .tab-pane -->
                                                    <!-- .tab-pane -->
                                                    <!-- .tab-pane -->
                                                    <div class="tab-pane" id="tab_stripe">
                                                        <div class="card-inner">
                                                            <form action="#">
                                                                <div class="form-group">
                                                                    <label class="form-label" for="tb_item_stock">Key</label>
                                                                    <input  type="text" class="form-control form-control-lg" id="tb_item_edit_business_stripe_key"  placeholder="">
                                                                </div>
                                                            </form>
                                                        </div>
                                                    </div>

                                                    <div class="tab-pane" id="tab_brevo">
                                                        <div class="card-inner">
                                                            <form action="#">

                                                                <div class="form-group">
                                                                    <label class="form-label" for="tb_item_stock">Key</label>
                                                                    <input  type="text" class="form-control form-control-lg" id="tb_item_edit_brevo_key"  placeholder="">
                                                                </div>
                                                                <div class="form-group">
                                                                    <label class="form-label" for="tb_item_stock">Sender Email</label>
                                                                    <input  type="text" class="form-control form-control-lg" id="tb_item_edit_brevo_sender"  placeholder="">
                                                                </div>
                                                                <div class="form-group">
                                                                    <label class="form-label" for="tb_item_stock">Reply Email</label>
                                                                    <input  type="text" class="form-control form-control-lg" id="tb_item_edit_brevo_reply"  placeholder="">
                                                                </div>
                                                                <div class="form-group">
                                                                    <label class="form-label" for="tb_item_stock">Form Send Template ID</label>
                                                                    <input  type="text" class="form-control form-control-lg" id="tb_item_edit_brevo_form_send_template_id"  placeholder="">
                                                                </div>
                                                                <div class="form-group">
                                                                    <label class="form-label" for="tb_item_stock">Form Send Subject</label>
                                                                    <input  type="text" class="form-control form-control-lg" id="tb_item_edit_brevo_form_send_subject"  placeholder="">
                                                                </div>
                                                                <div class="form-group">
                                                                    <label class="form-label" for="tb_item_stock">Order Send Template ID</label>
                                                                    <input  type="text" class="form-control form-control-lg" id="tb_item_edit_brevo_order_send_template_id"  placeholder="">
                                                                </div>
                                                                <div class="form-group">
                                                                    <label class="form-label" for="tb_item_stock">Order Send Subject</label>
                                                                    <input  type="text" class="form-control form-control-lg" id="tb_item_edit_brevo_order_send_subject"  placeholder="">
                                                                </div>
                                                                <div class="form-group">
                                                                    <label class="form-label" for="tb_item_stock">Item Review Update Template ID</label>
                                                                    <input  type="text" class="form-control form-control-lg" id="tb_item_edit_brevo_item_review_update_template_id"  placeholder="">
                                                                </div>
                                                                <div class="form-group">
                                                                    <label class="form-label" for="tb_item_stock">Item Review Update Subject</label>
                                                                    <input  type="text" class="form-control form-control-lg" id="tb_item_edit_brevo_item_review_update_subject"  placeholder="">
                                                                </div>
                                                                <div class="form-group">
                                                                    <label class="form-label" for="tb_item_stock">Vendor Payment Order Confirmation Subject</label>
                                                                    <input  type="text" class="form-control form-control-lg" id="tb_item_edit_brevo_vendor_payment_order_confirmation_subject"  placeholder="">
                                                                </div>

                                                                <div class="form-group">
                                                                    <label class="form-label" for="tb_item_stock">Vendor Payment Order Confirmation Template ID</label>
                                                                    <input  type="text" class="form-control form-control-lg" id="tb_item_edit_brevo_vendor_payment_order_confirmation_template_id"  placeholder="">
                                                                </div>

                                                            </form>
                                                        </div>
                                                    </div>
                                                    <!-- .tab-pane -->
                                                    <!-- .tab-pane -->
                                                    <div class="tab-pane" id="tab_billing">
                                                        <div class="card-inner">
                                                            <form action="#">
                                                                <div class="form-group">
                                                                    <label class="form-label" for="tb_item_stock">Handler</label>
                                                                    <input  type="text" class="form-control form-control-lg" id="tb_item_edit_business_cashapp"  placeholder="">
                                                                </div>
                                                            </form>
                                                        </div>
                                                    </div>
                                                    <!-- .tab-pane -->
                                                    <div class="tab-pane" id="tab_photo">
                                                        <div class="row gy-4 tabs">
                                                            <div class="col-md-6">
                                                                <div class="form-group">
                                                                    <%- include ('_biz_tab_photo') %>
                                                                </div>
                                                            </div>
                                                            <div  id='ul_save_btns' class="col-12">
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <!-- .tab-pane -->
                                                    <div class="tab-pane" id="tab_setting">
                                                        <div class="row gy-4 tabs">
                                                            <div class="col-md-6">
                                                                <div class="form-group">
                                                                    <label class="form-label" for="tb_item_edit_password">Password</label>
                                                                    <input type='password' class="form-control" id="tb_item_edit_password"  >
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <!-- .tab-pane -->
                                                    <!--bottom start--!>
                                                        <div class="row gy-4 tabs">
                                                        <%- include ('_biz_tab_bottom') %>
                                                        </div>
                                                        <!--bottom end--!>
                                                            </div>
                                                            <!-- .tab-content -->
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- .nk-block -->
                            </div>
                        </div>
                    </div>
                </div>
                <!-- content @e -->
                <!-- footer @s -->
                <div class="nk-footer">
                    <%- include ('_footer') %>
                </div>
                <!-- footer @e -->
            </div>
            <!-- wrap @e -->
        </div>
        <!-- main @e -->
        <!-- app-root @e -->
        <!-- modal_start -->
        <!-- modal_end -->
    </body>
    <%- include ('_footer_file') %>
    <script src="/js/biz_scriptz/store_info.js"></script>
    <script>
        $(document).ready(function() {
            get_bind_biz_item();
        });
    </script>
</html>
